<div class="footer-container">
  <h4>Joeway Banh © 2024</h4>
  <ng-container class="image-symbols">
    <ul>
      <li>
        <a
          href="https://www.youtube.com/channel/UCtrK2FoFf7iuD0TrI4lL4VA"
          target="_blank"
          ><img src="../../../assets/img/youtube-symbol.svg" alt="YouTube-logo"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/joewaybanh" target="_blank"
          ><img src="../../../assets/img/instagram.svg" alt="Instagram-logo"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/joewaybanh" target="_blank"
          ><img src="../../../assets/img/twitter.svg" alt="Twitter-logo"
        /></a>
      </li>
    </ul>
  </ng-container>
</div>
