<main>
  <section *ngIf="this.pokemonData" class="random-pokemon">
    <img src="{{ this.pokemonData?.sprites.front_default }}" />
    <p>Name: {{ capitalizeName(this?.pokemonData) }}</p>
    <p>
      {{ this.pokemonData?.stats[0]?.["base_stat"] }}
      {{ this.pokemonData?.stats[0]?.["stat"]["name"].toUpperCase() }}
    </p>
    <p>
      {{ this.pokemonData?.stats[1]?.["base_stat"] }}
      {{ capitalizeFirstLetter(this.pokemonData?.stats[1]?.["stat"]["name"] )}}
    </p>
    <p>
      {{ this.pokemonData?.stats[2]?.["base_stat"] }}
      {{ capitalizeFirstLetter(this.pokemonData?.stats[2]?.["stat"]["name"] )}}
    </p>
    <p>
      {{ this.pokemonData?.stats[3]?.["base_stat"] }}
      {{ capitalizeFirstLetter(this.pokemonData?.stats[3]?.["stat"]["name"] )}}
    </p>
    <p>
      {{ this.pokemonData?.stats[4]?.["base_stat"] }}
      {{ capitalizeFirstLetter(this.pokemonData?.stats[4]?.["stat"]["name"] )}}
    </p>
    <p>
      {{ this.pokemonData?.stats[5]?.["base_stat"] }}
      {{ capitalizeFirstLetter(this.pokemonData?.stats[5]?.["stat"]["name"]) }}
    </p>

    <button (click)="getRandomPokemon()">Click to randomize!</button>
  </section>

  <section *ngIf="this.favPokemonData" class="fav-pokemon">
    <img src="{{ this.favPokemonData?.sprites.front_default }}" />
    <p>Name: {{ capitalizeFirstLetter(this.pokemonData?.name) }}</p>
    <button (click)="getRandomFavPokemon()">Click to randomize!</button>
  </section>
</main>
