<main>
  <section *ngIf="this.pokemonData" class="random-pokemon">
    <img src="{{ this.pokemonData?.sprites.front_default }}" />
    <img src="{{ this.pokemonData?.sprites.other.showdown.front_default }}" />
    <h3 class="poke-name">
      {{ capitalizeName(this?.pokemonData) }}
    </h3>
    <p class="stats-container" *ngFor="let stat of pokemonData?.stats">
      <span> {{ capitalizeFirstLetter(stat?.stat?.name) }}</span>
      <span> {{ stat?.base_stat }}</span>
    </p>
    <button class="randomizer-button" (click)="getRandomPokemon()">
      Click to randomize!
    </button>
  </section>

  <section *ngIf="this.favPokemonData" class="fav-pokemon">
    <img src="{{ this.favPokemonData?.sprites.front_default }}" />

    <h3 class="poke-name">
      {{ capitalizeFirstLetter(this.favPokemonData?.name) }}
    </h3>
    <div class="stats-container types-container">
      <h4 *ngFor="let type of favPokemonData?.types">
        <span> {{ capitalizeFirstLetter(type.type.name) }}</span>
      </h4>
    </div>
    <p class="stats-container" *ngFor="let stat of favPokemonData?.stats">
      <span> {{ capitalizeFirstLetter(stat?.stat?.name) }}</span>
      <span>{{ stat?.base_stat }}</span>
    </p>

    <button class="randomizer-button" (click)="getRandomFavPokemon()">
      Click to randomize!
    </button>
  </section>
</main>
