:host {
  height: 100%;
  margin: auto;
}
.pokelist-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  gap: 2rem;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
